name: Backend CI
on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'frontend/**'
jobs:
  gateway-pr-build:
    uses: ./.github/workflows/scala-ci.yml
    secrets: inherit
    with:
      module: "gateway-pr-build"
