name: scala-build
on:
  workflow_call:
    inputs:
      module:
        description: "Module name"
        type: string
        required: true
      docker-image-name:
        description: "Docker image name"
        type: string
      is-service-build:
        description: "Whether this build is for service build (e.g. for pull requests) or not."
        type: boolean
        default: true
    outputs:
      docker-image-tag:
        description: "The generated docker image git-based tag"
        value: ${{ jobs.build.outputs.docker-image-tag }}
      docker-image-name:
        value: ${{ inputs.docker-image-name }}
env:
  ENABLE_SCALA_LINT_ON_COMPILE: ${{ vars.ENABLE_SCALA_LINT_ON_COMPILE || 'false' }}
  DOCKER_REPOSITORY: ${{ vars.DOCKER_REPOSITORY }}
jobs:
  build:
    name: Build ${{ inputs.module }}
    runs-on: ubuntu-latest
    outputs:
      docker-image-tag: ${{ steps.set-image-tag.outputs.TAG }}
    env:
      JAVA_OPTS: >
        -Xms2048M
        -Xmx2048M
        -Xss6M
        -XX:ReservedCodeCacheSize=256M
        -Dfile.encoding=UTF-8
        -XX:+UseZGC
        -XX:+ZGenerational
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Set Git Image Tags
        if: inputs.is-service-build == 'true'
        id: set-image-tag
        run: |
          RAW_SHA=$(git rev-parse --short HEAD)
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            TAG="pr-${{ github.event.pull_request.number }}-$RAW_SHA"
          else
            TAG="main-$RAW_SHA"
          fi
          echo "TAG=$TAG" >> $GITHUB_OUTPUT
          echo "DOCKER_IMAGE_TAG=$TAG" >> $GITHUB_ENV
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Build ${{ inputs.module }}-build
        run: sbt ${{ inputs.module }}-build
      - name: Upload image
        if: inputs.is-service-build == 'true'
        uses: ishworkh/container-image-artifact-upload@v2.0.0
        with:
          image: "${{ vars.DOCKER_REPOSITORY }}/${{ inputs.docker-image-name }}:${{ env.DOCKER_IMAGE_TAG }}"
