on:
  schedule:
    - cron: '0 0 * * 0'
name: Scala Steward
permissions:
  contents: write
  pull-requests: write
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Scala Steward
    steps:
      - name: Scala Steward GitHub Action
        uses: scala-steward-org/scala-steward-action@v2.75.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}