name: scala-steward-update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 */2 * *'
permissions:
  contents: write
  pull-requests: write
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Scala Steward
    steps:
      - name: Scala Steward GitHub Action
        uses: scala-steward-org/scala-steward-action@v2.75.0
        with:
          github-token: ${{ secrets.SCALA_STEWARD_GITHUB_TOKEN }}
